.client-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0;
}
.client-container > div {
    flex: 0 0 33.33%;
    text-align: center;
}
.client-container > div img {
    width: 200px;
}
.client-section {
    margin: 60px 0 0;
}
.client-section h2{
    text-align: center;
}